  ion-label {
      h4 {
          font-weight: bold !important;
          font-size: 1.2rem;
      }

      h6 {
          font-weight: bold!important;
      }
      a{
        color: #28c76f;
            /* Màu xanh lá cây (hoặc màu bạn muốn) */
            text-decoration: none;
      }
      a:hover{
        text-decoration: underline;
      }
  }

ion-input{
    --highlight-color-focused: #3b82f6;
}
.borderBottomSmall{
    border-bottom: 0.3rem solid var(--ion-color-light);
}