<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Quản lý đơn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="none"><label for="file-input" class="custom-file-label ion-text-wrap">{{lab}}</label>
  </ion-item>
  <ion-item lines="none" class="file-upload-item">
    <!-- Nút tùy chỉnh để chọn file -->
    <!-- Input file ẩn -->
    <input type="file" id="file-input" (change)="preview($event)" hidden>
    <ion-text *ngIf="file?.name" color="success">{{file.name}}</ion-text>
  </ion-item>
  <ion-button expand="block" class="ion-margin" color="primary" (click)="save()">Bắt đầu</ion-button>
    <ion-item class="borderBottom"><ion-text>Nhấn bắt đầu sau khi nhập file để cập nhật đơn từ hệ thống Shopee</ion-text></ion-item>

</ion-content>
