<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>deal-items</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/deal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="borderBottom">
    <ion-row class="ion-padding-horizontal dashedBorderBottom">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img
            [src]="data?.cover? data.cover:'https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/09c5ea6df1bd4be6baaaac5e003e7047_9366/Giay_Co_Thap_Forum_trang_FY7756_01_standard.jpg'">
        </ion-thumbnail>
        <ion-label class="lable-content">
          <h4>{{data.title}}</h4>
        </ion-label>
      </ion-item>
    </ion-row>
  </ion-grid>
  <ion-list lines="none">
    <ion-list-header>
      Hot deal tag video
    </ion-list-header>
    <ion-item>
      <div class="list-deal">
        <div><ion-icon name="flame" color="primary"></ion-icon>Mã 1<ion-text color="success" class="ion-padding-horizontal">Xem ngay</ion-text></div>
        <div><ion-icon name="flame" color="primary"></ion-icon>Mã 1<ion-text color="success" class="ion-padding-horizontal">Xem ngay</ion-text></div>
        <div><ion-icon name="flame" color="primary"></ion-icon>Mã 1<ion-text color="success" class="ion-padding-horizontal">Xem ngay</ion-text></div>
        <div><ion-icon name="flame" color="primary"></ion-icon>Mã 1<ion-text color="success" class="ion-padding-horizontal">Xem ngay</ion-text></div>
        <div><ion-icon name="flame" color="primary"></ion-icon>Mã 1<ion-text color="success" class="ion-padding-horizontal">Xem ngay</ion-text></div>
        <div><ion-icon name="flame" color="primary"></ion-icon>Mã 1<ion-text color="success" class="ion-padding-horizontal">Xem ngay</ion-text></div>
      </div>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-list-header>
      Hot deal tag live
    </ion-list-header>
    <ion-item>
      <div class="list-deal">
        <div><ion-icon name="flame" color="primary"></ion-icon>Mã 1<ion-text color="success" class="ion-padding-horizontal">Xem ngay</ion-text></div>
        <div><ion-icon name="flame" color="primary"></ion-icon>Mã 1<ion-text color="success" class="ion-padding-horizontal">Xem ngay</ion-text></div>
        <div><ion-icon name="flame" color="primary"></ion-icon>Mã 1<ion-text color="success" class="ion-padding-horizontal">Xem ngay</ion-text></div>
        <div><ion-icon name="flame" color="primary"></ion-icon>Mã 1<ion-text color="success" class="ion-padding-horizontal">Xem ngay</ion-text></div>
        <div><ion-icon name="flame" color="primary"></ion-icon>Mã 1<ion-text color="success" class="ion-padding-horizontal">Xem ngay</ion-text></div>
        <div><ion-icon name="flame" color="primary"></ion-icon>Mã 1<ion-text color="success" class="ion-padding-horizontal">Xem ngay</ion-text></div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
