ion-item{
    h3{
        font-size: 1.3rem;
        font-weight: bold;
    }
}
ion-footer {

    h4,
    p {
        margin-left: 3%;
    }

    p {
        font-size: 0.55rem !important;
        letter-spacing: 0.5px;
    }

}