<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="title">
        <span>Deal ngon</span>
        <ion-icon name="flash" color="warning"></ion-icon>
      </div>
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header class="ion-margin-bottom">
      <ion-label>
        <h4>List deal mã các ngày</h4>
        <p>Hot deal Hot voucher</p>
      </ion-label>
    </ion-list-header>
    <ion-item-group>
      <!-- <app-shop *ngFor="let shop of shops" [shop]="shop" [routerLink]="['/','tabs','shops',shop.uid]"></app-shop> -->
      <app-deal-input *ngFor="let deal of deals" [deal]="deal" (mousedown)="onMouseDown()"
        (mouseup)="onMouseUp(deal.uid)"></app-deal-input>
    </ion-item-group>
  </ion-list>
</ion-content>
