<ion-item lines="none">
  <ion-thumbnail slot="start">
    <img
      [src]="deal?.cover? deal.cover:'https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/09c5ea6df1bd4be6baaaac5e003e7047_9366/Giay_Co_Thap_Forum_trang_FY7756_01_standard.jpg'">
  </ion-thumbnail>
  <ion-label>
    <h4>{{deal?.title}}</h4>
    <ion-text color="medium">
      <p class="pStyle">
        <ion-icon name="flame" color="primary"></ion-icon>
        <ion-icon name="flame"color="primary"></ion-icon>
        <ion-icon name="flame"color="primary"></ion-icon>
      </p>
    </ion-text>
  </ion-label>
  <ion-row>
    <ion-text color="success" class="ion-padding-horizontal">Xem ngay</ion-text>
  </ion-row>
</ion-item>