ion-item {
    font-size: 0.8rem;

    ion-thumbnail {
        height: 9vh;
        width: 20vw;

        img {
            border-radius: 5px;
            height: 100%;
            width: 100%;
        }
    }

    h4 {
        font-size: 1rem;
    }
}
ion-row {
    border: 1px solid var(--ion-color-medium);
    border-radius: 2px;
    padding: 0.3rem;
}
ion-icon {
    font-size: 20px;
    /* Kích thước icon */
}